.panel {
    border: 1px solid darkgray;   
}

.panel-heading {
    color: white;
    background-color: rgb(32, 99, 255);
    padding: 0.5%;
    margin-bottom: 0.3%;
}

.panel-body {
    margin-left: 1%;
}

.panel-footer {
    margin-top: 1%;
    margin-bottom: 1%;
}